/* Reset some default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Ensure the navbar stays at the top */
.navbar {
    background-color: #333;
    color: #fff;
    /*position: fixed;*/
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000; /* Ensure it's above other content */
    margin-bottom: 25px;
}

/* Container to align items */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Style links */
.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
}

.nav-link:hover {
    background-color: #575757;
    border-radius: 4px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.project {
    width: 50%;
    margin: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: baseline;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 20px;
}

.title {
    text-align: center;
}

.home-body {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    gap: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 15px;
}

.github {
    text-decoration: none;
    color: white;
}

.github-btn {
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: #333;
}

.github-btn:hover {
    background-color: #575757;
}

.text {
    font-size: 18px;
}

.contact-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.icon {
    height: 50px;
    transition: all .5s ease-in-out
}

.icon:hover {
    opacity: 50%;
    transform: scale(1.5);
}

.email {
    font-size: 25px;
    transition: all .5s ease-in-out
}

.email:hover {
    opacity: 50%;
    transform: scale(1.5);
    cursor: pointer;
}

#me {
    height: 600px;
    border-radius: 15px;
}

#me:hover {
    opacity: 50%;
    cursor: pointer;
}